.body{
    background: gray;
}
.jumbotron{
    background-color: beige;
    padding: 10px;
    width: flex;
    height: fit-content;
    margin: 10%;
    border-radius: 4px;
}
.display-4{
    text-align: center;
}
.lead{
    text-align: center;
}
