.html {
    width: 100%;
    height:auto;
    background-color: gray;
}

.jumbotron {
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-style: groove;
    border-width: 8px;
    border: none;
}

.d-lg-flex {
    justify-content: end;
    border-bottom: 3px;
    border-style: double;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.titulo {
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
#cardapio{
    display: flex;
    flex-direction: row;
}
#item{

}
#cardapio img{
    padding: 5px;
    width: 400px;
    height: 300px;
    border-radius: 50px;
}
.slider{
    margin: 0 auto;
    width:800px;
    height:400px;
}
.slides{
    width:400%;
    height: 400px;
    display: flex;
}
.slides input{
    display: none;
}