.html {
    width: 100%;
    height:auto;
    background-color: #fff;
}

.jumbotron {
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-style: groove;
    border-width: 8px;
    border: none;
}

.d-lg-flex {
    justify-content: end;
    border-bottom: 3px;
    border-style: double;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.titulo {
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
#cardapio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
}
#item{
    display:flex;
    flex-direction: column;
    text-align: center;
    color: #fff;

    background-color:rgba(0,0,0, 0.85);
    margin: 10px;
    border-radius: 5px;
    padding:20px;
}
#cardapio img{
    padding: 5px;
    width: 300px;
    height: 200px;
    border-radius: 50px;
}
#item p{
    font-size: 14px;
}
#item button{
    background-color:#dc143c;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
#item button:hover{
    background-color:#f74b6d;
}